version: "3.7"
networks:
  default:
    ipam:
      config:
        - subnet: ${SUBNET}
services:
  database:
    image: postgres:9.6
    environment:
      POSTGRES_DB: seqdb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: p
    volumes:
      - ./initdb.sql:/docker-entrypoint-initdb.d/1-initdb.sql
  keycloak:
    image: jboss/keycloak:11.0.0
    user: root
    command: ["-Djboss.http.port=80"]
    expose: [80]
    environment:
      KEYCLOAK_USER: admin
      KEYCLOAK_PASSWORD: admin
      KEYCLOAK_IMPORT: /keycloak-realm.json
      DB_VENDOR: POSTGRES
      DB_ADDR: database
      DB_DATABASE: seqdb
      DB_USER: postgres
      DB_PASSWORD: p
      DB_SCHEMA: keycloak
    volumes:
      - "../keycloak-dina-starter-realm.json:/keycloak-realm.json"
    labels:
      - "traefik.http.routers.keycloak.rule=Host(`${KEYCLOAK_DOMAIN}`)"
    networks:
      default:
        # Here we set the IP for Keycloak
        ipv4_address: ${KEYCLOAK_IP}
  seqdb-api:
    image: seqdb-api:tag
    environment:
      spring.datasource.url: jdbc:postgresql://database/seqdb?currentSchema=seqdb
      spring.datasource.username: postgres
      spring.datasource.password: p
      spring.datasource.continue-on-error: "true"
      spring.liquibase.user: postgres
      spring.liquibase.password: p
    extra_hosts:
      # Resolve the Keycloak domain to Keycloak's static IP:
      - "${KEYCLOAK_DOMAIN}:${KEYCLOAK_IP}"
  seqdb-ui:
    image: seqdb-ui:tag
    environment:
      SEQDB_API_ADDRESS: seqdb-api:8080
      KEYCLOAK_CLIENTID: seqdb
      KEYCLOAK_REALM: dina
      KEYCLOAK_PUBLIC_URL: http://${KEYCLOAK_DOMAIN}/auth
    labels:
      - "traefik.http.routers.seqdb-ui.rule=Host(`${SEQDBUI_DOMAIN}`)"
      - "traefik.http.services.seqdb-ui.loadbalancer.server.port=8080"
  traefik:
    image: traefik:v2.2.0
    command: --providers.docker=true
    ports:
      - "80:80" # Traefik-connected services
    volumes:
      # So that Traefik can listen to the Docker events
      - /var/run/docker.sock:/var/run/docker.sock
