version: "3.7"
services:
  database:
    volumes:
      - "$HOME/seqdb-api-pgdata:/var/lib/postgresql/data"
  seqdb-api:
    image: maven:3.6.3-jdk-11
    # Run as Docker host user so generated files don't belong to root:
    user: $UID:$GID
    volumes:
      - "../repos/seqdb-api:/app"
      # Share host users:
      - "/etc/group:/etc/group:ro"
      - "/etc/passwd:/etc/passwd:ro"
      - "/etc/shadow:/etc/shadow:ro"
      # Use the host maven repository:
      - "~/.m2:/var/maven/.m2"
    ports:
      - "8080:8080" # app port
      - "5005:5005" # debug port
    # The maven container ignores the docker-compose "environment" field, so pass in variables in the command:
    command: >
      bash -c "
      mvn
      -f /app/pom.xml
      -Duser.home=/var/maven
      -Dspring-boot-maven-plugin.fork=true
      -Dspring-boot.run.jvmArguments=\"
        -Xdebug -Xrunjdwp:transport=dt_socket,server=y,suspend=n,address=*:5005
        -Dspring.datasource.url=jdbc:postgresql://database/seqdb?currentSchema=seqdb
        -Dspring.datasource.username=postgres
        -Dspring.datasource.password=p
        -Dspring.liquibase.user=postgres
        -Dspring.liquibase.password=p
        -Dkeycloak.enabled=true
        -Dkeycloak.auth-server-url=http://${KEYCLOAK_DOMAIN}/auth
      \"
      spring-boot:run
      "
  # Server that hot-reloads the UI source code:
  seqdb-ui-dev-server:
    image: node:12.16.1
    volumes:
      - "../repos/dina-ui:/dina-ui"
    # Run as Docker host user so generated files don't belong to root:
    user: $UID:$GID
    stop_signal: SIGKILL
    command: >
      bash -c "
      yarn --cwd=/dina-ui/packages/seqdb-ui ;
      yarn --cwd=/dina-ui/packages/seqdb-ui next
      "
  # Front-end gateway that proxies URLs to the correct service:
  seqdb-ui:
    image: caddy/caddy:2.0.0-alpine
    volumes:
      - "../repos/dina-ui/packages/seqdb-ui/dev.Caddyfile:/etc/caddy/Caddyfile"
    environment:
      UI_DEV_SERVER_ADDRESS: seqdb-ui-dev-server:3000
