/node_modules
/generated-docs
/coverage

# Yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# TypeScript
tsconfig.tsbuildinfo
**/tsconfig.tsbuildinfo
**/next-env.d.ts
