[submodule "dina-ui"]
path = repos/dina-ui
url = https://github.com/AAFC-BICoE/dina-ui.git

[submodule "objectstore-api"]
path = repos/objectstore-api
url = https://github.com/AAFC-BICoE/object-store-api.git
