# Node.js
# Build a general Node.js project with npm.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

trigger:
- master

pool:
  vmImage: ubuntu-latest

resources:
  repositories:
  - repository: local-deployement-repo
    type: github
    endpoint: AAFC-BICoE
    name: AAFC-BICoE/dina-local-deployment

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '16.x'
  displayName: 'Install Node.js'

- script: |
    pwd
    ls -la
    npm install -g pa11y-ci pa11y-ci-reporter-html
  displayName: 'Install pa11y-ci'

- script: |
    pip3 install -U selenium
    pip3 install webdriver-manager
    sudo apt install chromium-browser
  displayName: 'Install selenium'

- checkout: local-deployement-repo
  path: dina-local-deployment



- checkout: self
  path: dina-ui

- script: |
    sudo sh -c "echo '192.19.33.9 dina.local' >> /etc/hosts"
    sudo sh -c "echo '192.19.33.9 api.dina.local' >> /etc/hosts"
    sudo sh -c "echo '192.19.33.9 keycloak.dina.local' >> /etc/hosts"
  displayName: 'Setting up hosts name'

- script: |
    sudo apt-get install wget libnss3-tools -y
    wget https://github.com/FiloSottile/mkcert/releases/download/v1.4.3/mkcert-v1.4.3-linux-amd64
    sudo chmod +x mkcert-v1.4.3-linux-amd64
    sudo mv mkcert-v1.4.3-linux-amd64 /usr/bin/mkcert
    mkcert --install
    mkcert -cert-file  $(Pipeline.Workspace)/dina-local-deployment/certs/dina-local-cert.pem -key-file $(Pipeline.Workspace)/dina-local-deployment/certs/dina-local-key.pem "dina.local" "api.dina.local" "keycloak.dina.local"
  displayName: Setting up certificates

- script: |
    docker compose -f docker-compose.base.yml -f docker-compose.local.yml up &
  displayName: 'Start DockerCompose'

- bash: |
    echo Try to connect to Keycloak endpoint ...
    curl --head -X GET --retry 25 --retry-delay 2 --retry-connrefused https://dina.local/auth
  displayName: 'Waiting for Keycloak ...'

- bash: | 
    echo test
  displayName: 'Running pa11y'





# - bash: docker compose -f docker-compose.base.yml -f docker-compose.local.yml down
#   displayName: 'Stop DockerCompose'
  
