body {
  /* Set color to ensure the contrast ratio 4.5:1 for WCAG compliance,
  Success Criterion 1.4.3 Contrast (Minimum),Level (AA), https://www.w3.org/TR/WCAG21/ */
  background-color: #ffffff;
  color: #666666;
}
.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: -5px;
}
.dropdown .nav-link {
  color: rgb(232, 230, 227);
  border-width: 0px;
}
.dropdown:hover .nav-link{
  background-color: #38414d;
}
.ftr-urlt-lnk li {
  float: initial !important;
}

