body {
  /* Set color to ensure the contrast ratio 4.5:1 for WCAG compliance,
  Success Criterion 1.4.3 Contrast (Minimum),Level (AA), https://www.w3.org/TR/WCAG21/ */
  background-color: #ffffff;
  color: #666666;
}
.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: -5px;
}

.ftr-urlt-lnk li {
  float: initial !important;
}

.logo {
  margin-top: 35px;
  max-height: 35px;
}

.btn-link {
  text-decoration: underline !important;
}

/* Ensure the react bootstrap Nav related classes having good contrast */
a.nav-link.dropdown-toggle,
a.nav-link.dropdown-toggle:focus,
.navbar-light .navbar-brand,
.navbar-light .navbar-brand:hover,
.navbar-light .navbar-brand:focus,
.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show > .nav-link {
  color: #fff;
}
button.navbar-toggler {
  background-color: #fff;
}

.submenu-dropdown-button {
  color: #000;
  background-color: #fff;
  border-color: #fff;
}
