# Common base Compose file for dev/test/prod environments:
version: "3.7"
networks:
  default:
    ipam:
      config:
        - subnet: ${SUBNET}
services:
  database:
    image: postgres:9.6
    environment:
      POSTGRES_DB: objectstore
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: p
    volumes:
      - ./initdb.sql:/docker-entrypoint-initdb.d/1-initdb.sql
    ports:
      - "5432:5432"
  minio:
    image: minio/minio
    environment:
      MINIO_ACCESS_KEY: minio
      MINIO_SECRET_KEY: minio123
    labels:
      - "traefik.http.routers.minio.rule=Host(`${MINIO_DOMAIN}`)"
    command: server /data
  keycloak:
    image: jboss/keycloak:11.0.0
    user: root
    command: ["-Djboss.http.port=80"]
    expose: [80]
    environment:
      KEYCLOAK_USER: admin
      KEYCLOAK_PASSWORD: admin
      KEYCLOAK_IMPORT: /keycloak-realm.json
      DB_VENDOR: POSTGRES
      DB_ADDR: database
      DB_DATABASE: objectstore
      DB_USER: postgres
      DB_PASSWORD: p
      DB_SCHEMA: keycloak
    volumes:
      - "../keycloak-dina-starter-realm.json:/keycloak-realm.json"
    labels:
      - "traefik.http.routers.keycloak.rule=Host(`${KEYCLOAK_DOMAIN}`)"
    networks:
      default:
        # Here we set the IP for Keycloak
        ipv4_address: ${KEYCLOAK_IP}
  dina-ui:
    image: dina-ui:tag
    environment:
      AGENT_API_ADDRESS: agent-api:8080
      OBJECTSTORE_API_ADDRESS: objectstore-api:8080
      KEYCLOAK_CLIENTID: objectstore
      KEYCLOAK_REALM: dina
      KEYCLOAK_PUBLIC_URL: http://${KEYCLOAK_DOMAIN}/auth
    labels:
      - "traefik.http.routers.dina-ui.rule=Host(`${DINAUI_DOMAIN}`)"
      - "traefik.http.services.dina-ui.loadbalancer.server.port=8080"
  objectstore-api:
    image: objectstore-api:tag
    environment:
      spring.datasource.url: jdbc:postgresql://database/objectstore?currentSchema=object_store
      spring.datasource.username: postgres
      spring.datasource.password: p
      spring.datasource.continue-on-error: "true"
      spring.liquibase.user: postgres
      spring.liquibase.password: p
      spring.servlet.multipart.max-file-size: 2GB
      spring.servlet.multipart.max-request-size: 2GB
      minio.host: minio
      minio.port: 9000
      minio.accessKey: minio
      minio.secretKey: minio123
      keycloak.enabled: "true"
      keycloak.auth-server-url: http://${KEYCLOAK_DOMAIN}/auth
    extra_hosts:
      # Resolve the Keycloak domain to Keycloak's static IP:
      - "${KEYCLOAK_DOMAIN}:${KEYCLOAK_IP}"
  agent-api:
    image: agent-api:tag
    environment:
      spring.datasource.url: jdbc:postgresql://database/objectstore?currentSchema=agent
      spring.datasource.username: postgres
      spring.datasource.password: p
      spring.datasource.continue-on-error: "true"
      spring.liquibase.user: postgres
      spring.liquibase.password: p
    extra_hosts:
      # Resolve the Keycloak domain to Keycloak's static IP:
      - "${KEYCLOAK_DOMAIN}:${KEYCLOAK_IP}"
  traefik:
    image: traefik:v2.2.0
    command: --providers.docker=true
    ports:
      - "80:80" # Traefik-connected services
    volumes:
      # So that Traefik can listen to the Docker events
      - /var/run/docker.sock:/var/run/docker.sock
