/*
* CSS classes created to provide horizontal alignment of dropzone "Save" and "Add Files" buttons
*/

.dzu-submitButtonContainer {
  align-self: flex-end !important;
  margin: -2.35em 2em 1em 0em !important;
}

.dzu-inputLabelAddFiles {
  align-self: flex-start;
  margin: 2em 0em 0em 2em;
}
