.cycles-container {
  display: flex;
  padding-right: 10px;
}

.step-container {
  display: grid;
  grid-template-columns: 50% 50%;
}
.step-container label {
  white-space: nowrap;
  margin-right: 15px;
}

.step1 {
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  padding-right: 10px;
}
.step2 {
  grid-area: 2 / 1 / 3 / 2;
  display: flex;
  padding-right: 10px;
}
.step3 {
  grid-area: 3 / 1 / 4 / 2;
  display: flex;
  padding-right: 10px;
}
.step4 {
  grid-area: 4 / 1 / 5 / 2;
  display: flex;
  padding-right: 10px;
}
.step5 {
  grid-area: 5 / 1 / 6 / 2;
  display: flex;
  padding-right: 10px;
}
.step6 {
  grid-area: 6 / 1 / 7 / 2;
  display: flex;
  padding-right: 10px;
}
.step7 {
  grid-area: 1 / 2 / 2 / 3;
  display: flex;
  padding-left: 10px;
}
.step8 {
  grid-area: 2 / 2 / 3 / 3;
  display: flex;
  padding-left: 10px;
}
.step9 {
  grid-area: 3 / 2 / 4 / 3;
  display: flex;
  padding-left: 10px;
}
.step10 {
  grid-area: 4 / 2 / 5 / 3;
  display: flex;
  padding-left: 10px;
}
.step11 {
  grid-area: 5 / 2 / 6 / 3;
  display: flex;
  padding-left: 10px;
}
.step12 {
  grid-area: 6 / 2 / 7 / 3;
  display: flex;
  padding-left: 10px;
}
